<div class='new_user_form'>
  <%= form_for @user do |f| %>
    <%= f.text_field :email, placeholder: "email address" %>
    <%= f.password_field :password, placeholder: "password" %>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <%= f.submit "Sign Up" %>
  <% end %>
</div>
